@media screen and (max-width: 768px) {
	.st-logo{
		margin: 0 auto;
	}

	.vl-border{
		display: none;
	}

	.q-welcome{
		text-align: center;
		margin-top: 10px;
	}
	.q-address{
		text-align: center;
	}
	body{
		overflow: unset;
	}
	.q-token-card{
		min-height: unset;
		margin-bottom: 15px;
	}
}